body {
    background-color: powderblue;
}
h1 {
    
    color: black;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 72px;
    font-weight: 100; 
    margin: 10px 
}
.letterhead {

    background-image: url(../images/paper.jpg);
    background-color: white;
    border-width: 3px;
    border-color: red;
    border-type: solid;
}

#inputs {
    display: flex;
    width: 200px;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
}

 #doctor {
    display: flex;
    width; 550;
    flex-shrink: 1; 
    font-size: 20px;

}

#doctor img {
    padding: 10px 10px 10px 10px; 
    margin: 10px 10px 10px 10px;
}
#madlibs {
    color: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-style: solid;
     border-color: yellow;
    border-width: 3px; */
    font-size: xx-large;
    font-weight: 800; 
}

#PageBody {
display: flex; 
    background-color: black;
}